In [1]:
print("hello universe")

hello universe

In [2]:
"hello world"

'hello world'

In [3]:
a=5
a

5

In [6]:
a =5
b= 8
c=a+b
c

13

In [7]:
c=a-b
c

-3

In [8]:
c=a**b
c

390625

In [10]:
a =int(input('enter value'))
b=  float(input('enter value'))
c=a+b
c

enter value4
enter value4.5

8.5

# strings

In [18]:
string = "hello world"
print(string)
print(string+'vijay')
print(string*3)
print(string[0])
print(string[0:3])
print(string[0:-1])

hello world
hello worldvijay
hello worldhello worldhello world
h
hel
hello worl

# lists

In [57]:
a=['vijay','rooney',34,55,77,89,'age','weight']
b=['messi','gelo']
type(a)
print(a)
print(a[0])
print(a[0:3])
print(a[0:-1])
print(a+b)
print(b*2)

['vijay', 'rooney', 34, 55, 77, 89, 'age', 'weight']
vijay
['vijay', 'rooney', 34]
['vijay', 'rooney', 34, 55, 77, 89, 'age']
['vijay', 'rooney', 34, 55, 77, 89, 'age', 'weight', 'messi', 'gelo']
['messi', 'gelo', 'messi', 'gelo']

In [43]:
a=['independence','freedom']
print(a[1][0:4]+a[0][2:8])

freedepend

# if else

In [46]:
weight= float(input('enter weight'))
height= float(input('enter height'))
if(weight == 55.6 and height ==5.43):
    print('can play')
else:
    print('cant')

enter weight33
enter height43
cant

In [51]:
a=1
b=2
list =[1,2,3,4,5]
if (a in list):
    print("a is in list")
else:
    print("a not in the list")

a is in list

In [56]:
astring=input("hey boi i am chat bot")
string=["namaste","hello","chao"]
if (astring in string):
    print("lets go boys")
else:
    print("error")

hey boi i am chat bothello
lets go boys

#  length function len

In [65]:
a=['abjhc','vsab','dsdfs']
len(a)
min(a)

'abjhc'

# tuples

In [66]:
tuple= {'abcd',343,'john'}

{'abcd', 'john', 343}

In [69]:
tup1 = {'physics', 'chemistry', 1997, 2000}
tup2 ={1, 2, 3, 4, 5, 6, 7 }
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

TypeError: 'set' object is not subscriptable

In [70]:
tuple1 = (0 ,1, 2, 3) 
print(tuple1[1:]) 
print(tuple1[::-1]) 
print(tuple1[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

## dictionaries

SyntaxError: invalid syntax (<ipython-input-73-8e24466223e7>, line 1)

# loops and functions

In [ ]:
money=int(input('enter the value'))
discount=0
if(money>10000):
    discount=(money*10)/100
    netamount=money-discount
    print(netamount)
elif(money<10000 and money>5000):
    discount=(money*5)/100
    netamount=money-discount
    print(netamount)
else:
    print(money)

In [8]:
x=0
while(x <=10):
    print("9*",x,'=',9*x)
    x=x+1

9* 0 = 0
9* 1 = 9
9* 2 = 18
9* 3 = 27
9* 4 = 36
9* 5 = 45
9* 6 = 54
9* 7 = 63
9* 8 = 72
9* 9 = 81
9* 10 = 90

In [21]:
    fruits=['bananas','apple','mango']
    for fruits in fruits[0]:
        print('current fruit:',fruits)

current fruit: b
current fruit: a
current fruit: n
current fruit: a
current fruit: n
current fruit: a
current fruit: s

In [23]:
for i in range(1,5):
    for j in range(i):
        print('x',end='')
    print()

x
xx
xxx
xxxx

# functions

In [3]:
def add(x,y):
    return x+y
def subtract(x,y):
    return x-y
def divide(x,y):
    return x/y
def multiply(x,y):
    return x*y
print('select operation')
print('1.add')
print('2.subtract')
print('3.divide')
print('4.multiply')

x=int(input('enter the value of x'))
y=int(input('enter the value of y'))
choice= input("enter choice(1/2/3/4)")
if(choice=='1'):
    print(add(x,y))
elif(choice=='2'):
    print(subtract(x,y))
elif(choice=='3'):
    print(divide(x,y))
elif(choice=='4'):
    print(multiply(x,y))
else:
    print("not found")

select operation
1.add
2.subtract
3.divide
4.multiply
enter the value of x1
enter the value of y2
enter choice(1/2/3/4)2
-1